---
---

@import "{{ site.theme }}";

.page-header {
  
  color: $header-heading-color;
  text-align: center;
  background-color: $header-bg-color;
  background-image: linear-gradient(120deg, $header-bg-color-secondary, $header-bg-color);

  @include large {
    padding: 1rem 1rem;
  }

  @include medium {
    padding: 1rem 1rem;
  }

  @include small {
    padding: 1rem 1rem;
  }
  
}

.project-name {
 
  margin-top: 0;
  margin-bottom: 0.1rem;

  @include large {
    font-size: 2.25rem;
  }

  @include medium {
    font-size: 2rem;
  }

  @include small {
    font-size: 1.75rem;
  }
  
}

.project-tagline {

  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-weight: normal;
  opacity: 0.7;

  @include large {
    font-size: 1.25rem;
  }

  @include medium {
    font-size: 1.15rem;
  }

  @include small {
    font-size: 1rem;
  }

}
